body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.texto-denuncia {
  text-align: center;
}

.texto-denuncia h1 {
  font-size: 1.8rem;
}

.texto-denuncia p {
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #0096c7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0077b6;
}

#report {
  height: 150px;
}

.card {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

.card button {
  position: absolute;
  top: 40px;
  right: 30px;
  background-color: #dc3545;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;
}

.card button:hover {
  background-color: #c82333;
}

.card .edit,
.card .view {
  background-color: #007bff;
  right: auto;
  left: 480px;
  top: 0px;
}

.card .edit:hover {
  background-color: #0069d9;
}

.card .view {
  background-color: #ffc107;
  left: 545px;
}

.card .view:hover {
  background-color: #e0a800;
}

#texto-seus-relatos {
  margin-top: 30px;
}
