body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coluna-esquerda {
  flex: 2;
  margin-right: 20px;
}

.coluna-esquerda h1 {
  font-size: 1.6rem;
}

.coluna-esquerda h2 {
  font-size: 1.4rem;
}

.coluna-esquerda ul li h3 {
  font-size: 1rem;
}

.escondido {
  display: none;
}

.coluna-direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="text"],
button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: violet;
}

#resultados p {
  background-color: #ffff99;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
}

.destaque {
  background-color: #ffff99;
  font-weight: bold;
}
